In [1]:
from openbb_terminal.sdk import openbb
from datetime import datetime
import pandas as pd
import plotly.express as px
import plotly.graph_objs as go
%matplotlib inline

Forecasting Toolkit is disabled. To use the Forecasting features please install the toolkit following the instructions here: https://my.openbb.co/app/sdk/installation

Portfolio Optimization Toolkit is disabled. To use the Optimization features please install the toolkit following the instructions here: https://my.openbb.co/app/sdk/installation

In [2]:
import os
from dotenv import load_dotenv
print(os.getcwd())

load_dotenv('/Users/mark/OpenBB/keys.env')

/Users/mark/OpenBB

True

In [3]:
with open('keys.env', 'r') as file:
    for line in file:
        if "=" in line:
            key, _ = line.strip().split('=', 1)
            print(f"{key}=******")
        else:
            print(line.strip())

API_OPENAI_KEY=******
API_NEWS_TOKEN=******
API_KEY_FINANCIALMODELINGPREP=******
API_FRED_KEY=******

*** LOAD ***

In [4]:
help(openbb.crypto.load)

Help on load in module openbb_terminal.cryptocurrency.cryptocurrency_helpers object:

class load(builtins.object)
 |  load(symbol: str, start_date: Union[datetime.datetime, str, NoneType] = None, interval: Union[str, int] = '1440', exchange: str = 'binance', to_symbol: str = 'usd', end_date: Union[datetime.datetime, str, NoneType] = None, source: str = 'YahooFinance') -> pandas.core.frame.DataFrame
 |
 |  Load crypto currency to get data for
 |  Note:
 |      take into consideration that the data might not be found if the data provider
 |      (example) uses `usd` instead of `usdt` as the quote currency, so you might need to adjust
 |      the `to_symbol` parameter.
 |      For `CCXT` a valid pair would be: "BTC/USDT"
 |      For `CoinGecko` a valid pair would be: "BTC-USD"
 |      For `YahooFinance` a valid pair would be: "BTC-USD"
 |
 |  Parameters
 |  ----------
 |  symbol: str
 |      Coin to get
 |  start_date: Union[datetime, Union[str, None]], optional
 |      Start date to get data from with. - datetime or string format (YYYY-MM-DD)
 |  interval: Union[str, int]
 |      The interval between data points in minutes.
 |      Choose from: 1, 15, 30, 60, 240, 1440, 10080, 43200
 |  exchange: str:
 |      The exchange to get data from.
 |  to_symbol: str
 |      Quote Currency (Defaults to usdt)
 |  end_date: Union[datetime, Union[str, None]], optional
 |      End date to get data from with. - datetime or string format (YYYY-MM-DD)
 |  source: str
 |      The source of the data
 |      Choose from: CCXT, CoinGecko, YahooFinance
 |
 |  Returns
 |  -------
 |  pd.DataFrame
 |      Dataframe consisting of price and volume data
 |
 |  Examples
 |  --------
 |  >>> from openbb_terminal.sdk import openbb
 |  >>> openbb.crypto.load(symbol="btc",to_symbol="usd",start_date="2019-01-01",source="YahooFinance")
 |
 |  Methods defined here:
 |
 |  __call__(self, *args: Any, **kwargs: Any) -> Any
 |      Call self as a function.
 |
 |  __init__(self, name: str, trail: str, func: Callable) -> None
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  about(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __annotations__ = {'end_date': typing.Union[datetime.datetime, str, No...
 |
 |  __defaults__ = (None, '1440', 'binance', 'usd', None, 'YahooFinance')
 |
 |  __kwdefaults__ = None
 |
 |  __signature__ = <Signature (symbol: str, start_date: Union[datet...= '...

In [21]:
btc_df_30 = openbb.crypto.load('BTC', source = 'CCXT', exchange = 'gemini', interval= '30')

btc_df_30.tail(5)

                         Open      High       Low     Close    Volume
date
2023-09-09 22:00:00  25880.83  25904.69  25871.14  25895.16  1.948792
2023-09-09 22:30:00  25895.16  25912.84  25893.88  25908.05  0.250161
2023-09-09 23:00:00  25908.05  25909.82  25896.09  25898.35  1.333601
2023-09-09 23:30:00  25898.35  25904.27  25885.44  25898.47  1.117675
2023-09-10 00:00:00  25898.47  25900.70  25860.53  25867.02  1.014357

In [19]:
btc_df = openbb.crypto.load('BTC', source = 'CCXT', exchange = 'gemini')

btc_df.tail(5)

                Open      High       Low     Close      Volume
date
2023-09-06  25782.70  26039.05  25373.57  25752.41  384.721373
2023-09-07  25752.41  26426.30  25615.96  26248.67  305.336073
2023-09-08  26248.67  26429.88  25647.26  25908.81  320.176927
2023-09-09  25908.81  25931.82  25799.90  25898.47  107.904681
2023-09-10  25898.47  26017.17  25570.00  25827.13  174.044965

In [55]:
trades_ethusdt = openbb.crypto.dd.trades(exchange_id = 'gemini', symbol = 'BTC', to_symbol = 'USDT')

trades_ethusdt.head(5)

                              Date     Price    Amount       Cost  Side
0 2023-09-10 13:15:10.557000+00:00  26198.45  0.001842  48.258331  sell
1 2023-09-10 13:15:10.557000+00:00  26189.69  0.000075   1.960560  sell
2 2023-09-10 13:15:10.557000+00:00  26164.92  0.000471  12.336236  sell
3 2023-09-10 13:15:10.557000+00:00  26120.67  0.001947  50.845713  sell
4 2023-09-10 13:15:10.557000+00:00  26114.27  0.000075   1.954914  sell

In [56]:
trades = trades_ethusdt.groupby(trades_ethusdt['Side']).count()
trades

      Date  Price  Amount  Cost
Side
buy     20     20      20    20
sell    30     30      30    30

In [57]:
trades_btcusdt = openbb.crypto.dd.trades(exchange_id = 'coinbaseprime', symbol = 'BTC', to_symbol = 'USDT')

trades_btcusdt.tail(5)

                                Date     Price    Amount         Cost  Side
995 2023-09-11 00:28:53.841000+00:00  25789.17  0.000229     5.905720  sell
996 2023-09-11 00:28:53.841000+00:00  25789.17  0.087000  2243.657790  sell
997 2023-09-11 00:28:53.936000+00:00  25783.06  0.081000  2088.427860  sell
998 2023-09-11 00:28:53.936000+00:00  25782.13  0.174528  4499.691209  sell
999 2023-09-11 00:28:53.936000+00:00  25781.61  0.174528  4499.600455  sell

In [58]:
btc = trades_btcusdt.groupby(trades_btcusdt['Side']).count()
btc

      Date  Price  Amount  Cost
Side
buy    295    295     295   295
sell   705    705     705   705

In [36]:
# Retrieve a list of all coins available from CoinPaprika
coins = openbb.crypto.ov.coin_list()

coins.head(10)

   rank                       id               name symbol   type
0     1              btc-bitcoin            Bitcoin    BTC   coin
1     2             eth-ethereum           Ethereum    ETH   coin
2     3              usdt-tether             Tether   USDT  token
3     4         bnb-binance-coin       Binance Coin    BNB   coin
4     5                  xrp-xrp                XRP    XRP   coin
5     6            usdc-usd-coin           USD Coin   USDC  token
6     7  steth-lido-staked-ether  Lido Staked Ether  STETH  token
7     8              ada-cardano            Cardano    ADA   coin
8     9            doge-dogecoin           Dogecoin   DOGE   coin
9    10               sol-solana             Solana    SOL   coin

In [40]:
openbb.crypto.disc.trending()

           Symbol            Name  market_cap Cap Rank
0  bella-protocol  Bella Protocol                  467
1        tamadoge        Tamadoge                  832
2        pink-bnb        Pink BNB                  603
3     the-sandbox     The Sandbox                   59
4         bitcoin         Bitcoin                    1
5         zignaly         Zignaly                  976
6     veloce-vext          Veloce                  815

In [59]:
# openbb.crypto.ov.news(post_kind = 'news',region = 'en', filter_= 'important', ascend = False)

In [45]:
coins = openbb.crypto.disc.losers(interval = '1y').sort_values('Change 1y [%]', ascending=False)
coins.head(10)

,Symbol,Name,Price [$],Market Cap,Market Cap Rank,Volume [$],Change 1y [%]
44,kas,Kaspa,0.040559,833590144,45,10708029,781.933352
27,okb,OKB,41.890000,2513407048,28,2849689,154.539281
48,xdc,XDC Network,0.054637,756874134,49,6056936,110.675633
42,mkr,Maker,1119.520000,1008227665,43,52456757,46.111980
18,bch,Bitcoin Cash,190.770000,3718128655,19,124747356,43.663933
4,xrp,XRP,0.497242,26404814343,5,460441488,39.037277
10,trx,TRON,0.078295,6986033526,11,144906378,20.923475
16,wbtc,Wrapped Bitcoin,25846.000000,4208334517,17,47508495,19.113401
0,btc,Bitcoin,25854.000000,503733079590,1,5542039784,19.104140
19,xlm,Stellar,0.133751,3676562907,20,135127206,16.292804

In [49]:
coins_pos = coins.loc[coins['Change 1y [%]'] > 0 ].reset_index(drop=True)
coins_pos

,Symbol,Name,Price [$],Market Cap,Market Cap Rank,Volume [$],Change 1y [%]
0,kas,Kaspa,0.040559,833590144,45,10708029,781.933352
1,okb,OKB,41.890000,2513407048,28,2849689,154.539281
2,xdc,XDC Network,0.054637,756874134,49,6056936,110.675633
3,mkr,Maker,1119.520000,1008227665,43,52456757,46.111980
4,bch,Bitcoin Cash,190.770000,3718128655,19,124747356,43.663933
5,xrp,XRP,0.497242,26404814343,5,460441488,39.037277
6,trx,TRON,0.078295,6986033526,11,144906378,20.923475
7,wbtc,Wrapped Bitcoin,25846.000000,4208334517,17,47508495,19.113401
8,btc,Bitcoin,25854.000000,503733079590,1,5542039784,19.104140
9,xlm,Stellar,0.133751,3676562907,20,135127206,16.292804
10,wbt,WhiteBIT Coin,5.300000,764438318,48,8067362,1.988326

In [53]:
coins_neg = coins.loc[coins['Change 1y [%]'] < 0 ].sort_values('Change 1y [%]', ascending=True).reset_index(drop=True)
coins_neg

,Symbol,Name,Price [$],Market Cap,Market Cap Rank,Volume [$],Change 1y [%]
0,near,NEAR Protocol,1.150000,1085618574,40,54240894,-76.086808
1,etc,Ethereum Classic,15.120000,2162115720,29,60194411,-61.529664
2,atom,Cosmos Hub,6.670000,1952460197,30,108387974,-58.435694
3,cro,Cronos,0.052474,1379582143,34,7602805,-57.790271
4,icp,Internet Computer,3.100000,1375367889,35,24474098,-56.580525
5,avax,Avalanche,9.490000,3353344664,22,122981395,-53.744898
6,ada,Cardano,0.249314,8738635908,8,128347208,-51.392239
7,fil,Filecoin,3.120000,1393888901,33,94124189,-50.996850
8,sol,Solana,18.270000,7508226085,10,553854904,-48.013116
9,dot,Polkadot,4.150000,5283618581,13,99384100,-46.779983
10,shib,Shiba Inu,0.000007,4348230976,16,93969797,-44.565950
11,matic,Polygon,0.523455,4878880900,14,167415123,-42.291644
12,aave,Aave,54.100000,785087730,46,50387942,-41.764932
13,vet,VeChain,0.015232,1107427971,39,27105879,-40.868223
14,uni,Uniswap,4.230000,3187347492,24,84023588,-36.743401
15,ldo,Lido DAO,1.490000,1319402541,37,25300181,-29.641141
16,grt,The Graph,0.083724,768665299,47,21177654,-28.758207
17,bnb,BNB,212.470000,32686026748,4,338701428,-28.538000
18,hbar,Hedera,0.047877,1589769457,31,24913473,-25.095962
19,link,Chainlink,6.020000,3240537778,23,170364310,-23.922161
20,leo,LEO Token,3.850000,3583150589,21,126435,-22.741996
21,ton,Toncoin,1.720000,5907810477,12,15614152,-10.474367
22,xmr,Monero,143.290000,2600474744,26,37785162,-9.249121
23,eth,Ethereum,1617.720000,194546120004,2,6811254355,-9.067661
24,op,Optimism,1.270000,1015314325,42,63153340,-8.638936
25,qnt,Quant,97.910000,1424540670,32,13168045,-7.218423
26,steth,Lido Staked Ether,1617.620000,13918208576,7,12194399,-6.440032
27,doge,Dogecoin,0.061404,8655924817,9,296778390,-5.269262
28,reth,Rocket Pool ETH,1753.720000,921414063,44,8252250,-5.005854
29,ltc,Litecoin,61.280000,4513293529,15,335236631,-3.375243
30,usdd,USDD,0.997293,723139315,50,9793942,-0.366609
31,tusd,TrueUSD,0.998242,3182587598,25,220448278,-0.285010
32,usdt,Tether,0.999354,82980552075,3,13940611337,-0.177101
33,busd,Binance USD,0.999759,2583088484,27,2262469462,-0.120306
34,dai,Dai,1.000000,3832459605,18,51916308,-0.087696
35,usdc,USD Coin,1.001000,26194420688,6,3083718329,-0.073277